@import "tailwindcss";
@plugin "daisyui";

/* 0A400C -> dark green */

@media (min-width: 768px){
    .section_title::before,
    .section_title::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background: rgb(0,0,12);
        top: 60%;
    }
    
    .section_title::before{
        right: 50%;
        margin-right: 60px;
    }
    
    .section_title::after{
        left: 50%;
        margin-left: 60px;
    }
}

@media (min-width: 1024px){
    .section_title::before,
    .section_title::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background: rgb(0,0,12);
        top: 60%;
    }
    
    .section_title::before{
        right: 50%;
        margin-right: 70px;
    }
    
    .section_title::after{
        left: 50%;
        margin-left: 70px;
    }
}